<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_praise_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1091},{688,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,269}}</string>
                <key>sourceSize</key>
                <string>{688,269}</string>
            </dict>
            <key>effect_praise_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1091},{899,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{899,270}}</string>
                <key>sourceSize</key>
                <string>{899,270}</string>
            </dict>
            <key>effect_praise_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{435,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{435,123}}</string>
                <key>sourceSize</key>
                <string>{437,125}</string>
            </dict>
            <key>effect_praise_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,769},{320,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{320,130}}</string>
                <key>sourceSize</key>
                <string>{320,132}</string>
            </dict>
            <key>effect_praise_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,368},{399,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{399,132}}</string>
                <key>sourceSize</key>
                <string>{401,132}</string>
            </dict>
            <key>effect_praise_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,118}}</string>
                <key>sourceSize</key>
                <string>{464,118}</string>
            </dict>
            <key>effect_praise_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{364,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{364,125}}</string>
                <key>sourceSize</key>
                <string>{366,125}</string>
            </dict>
            <key>effect_praise_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{442,133}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{442,133}}</string>
                <key>sourceSize</key>
                <string>{444,135}</string>
            </dict>
            <key>effect_rainbow_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{414,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,217}}</string>
                <key>sourceSize</key>
                <string>{414,217}</string>
            </dict>
            <key>effect_stageClear.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1781},{216,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{216,254}}</string>
                <key>sourceSize</key>
                <string>{220,256}</string>
            </dict>
            <key>effect_stageClear_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{416,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{416,419}}</string>
                <key>sourceSize</key>
                <string>{418,419}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect.png</string>
            <key>size</key>
            <string>{593,1999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8b5edf29a7c93fe1f01ff4d56488592:96323d5ae23956ec48f634906a9af1ea:3dfbfbc8204a359f1a81f2ee84fdb371$</string>
            <key>textureFileName</key>
            <string>effect.png</string>
        </dict>
    </dict>
</plist>
