<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>entryScene_loading_bar0.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,560},{412,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,25}}</string>
                <key>sourceSize</key>
                <string>{412,25}</string>
            </dict>
            <key>entryScene_loading_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,596},{408,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{408,23}}</string>
                <key>sourceSize</key>
                <string>{412,25}</string>
            </dict>
            <key>entryScene_loading_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,974},{198,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{198,108}}</string>
                <key>sourceSize</key>
                <string>{228,130}</string>
            </dict>
            <key>entryScene_loading_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,888},{80,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,20}}</string>
                <key>sourceSize</key>
                <string>{82,22}</string>
            </dict>
            <key>gaem_img_tryAgain.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,888},{106,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,28}}</string>
                <key>sourceSize</key>
                <string>{106,28}</string>
            </dict>
            <key>game_btn_continueGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1228},{232,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,101}}</string>
                <key>sourceSize</key>
                <string>{232,101}</string>
            </dict>
            <key>game_btn_newGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,326},{232,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,101}}</string>
                <key>sourceSize</key>
                <string>{232,101}</string>
            </dict>
            <key>game_btn_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,827},{59,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>game_tips_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{900,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,48}}</string>
                <key>sourceSize</key>
                <string>{900,48}</string>
            </dict>
            <key>game_txt_aimScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,560},{265,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,66}}</string>
                <key>sourceSize</key>
                <string>{265,66}</string>
            </dict>
            <key>game_txt_maxScore.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,326},{268,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,67}}</string>
                <key>sourceSize</key>
                <string>{268,67}</string>
            </dict>
            <key>game_txt_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,596},{246,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,67}}</string>
                <key>sourceSize</key>
                <string>{246,67}</string>
            </dict>
            <key>tips_frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,322}}</string>
                <key>sourceSize</key>
                <string>{239,322}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{243,1331}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afefe88bd8be4f6cd89222668a0a05a2:ffecf8f6ee11f55ffdd3d39ebf9ed533:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
