<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,98},{103,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,71}}</string>
                <key>sourceSize</key>
                <string>{103,71}</string>
            </dict>
            <key>fish01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,156},{103,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,71}}</string>
                <key>sourceSize</key>
                <string>{103,71}</string>
            </dict>
            <key>fish01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,169},{103,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,71}}</string>
                <key>sourceSize</key>
                <string>{103,71}</string>
            </dict>
            <key>fish01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,96},{105,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,71}}</string>
                <key>sourceSize</key>
                <string>{105,71}</string>
            </dict>
            <key>fish01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,98},{105,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,69}}</string>
                <key>sourceSize</key>
                <string>{105,69}</string>
            </dict>
            <key>fish01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,98},{105,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,71}}</string>
                <key>sourceSize</key>
                <string>{105,71}</string>
            </dict>
            <key>fish01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1681,156},{105,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,71}}</string>
                <key>sourceSize</key>
                <string>{105,71}</string>
            </dict>
            <key>fish01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,169},{103,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,71}}</string>
                <key>sourceSize</key>
                <string>{103,71}</string>
            </dict>
            <key>fish01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,171},{103,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,71}}</string>
                <key>sourceSize</key>
                <string>{103,71}</string>
            </dict>
            <key>fish02_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,2},{218,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,83}}</string>
                <key>sourceSize</key>
                <string>{218,83}</string>
            </dict>
            <key>fish02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,90},{214,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,83}}</string>
                <key>sourceSize</key>
                <string>{214,83}</string>
            </dict>
            <key>fish02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,96},{206,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,79}}</string>
                <key>sourceSize</key>
                <string>{206,79}</string>
            </dict>
            <key>fish02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,177},{202,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,71}}</string>
                <key>sourceSize</key>
                <string>{202,71}</string>
            </dict>
            <key>fish02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,175},{204,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,69}}</string>
                <key>sourceSize</key>
                <string>{204,69}</string>
            </dict>
            <key>fish02_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,2},{214,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,69}}</string>
                <key>sourceSize</key>
                <string>{214,69}</string>
            </dict>
            <key>fish02_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,188},{218,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,63}}</string>
                <key>sourceSize</key>
                <string>{218,63}</string>
            </dict>
            <key>fish02_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,87},{218,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,67}}</string>
                <key>sourceSize</key>
                <string>{218,67}</string>
            </dict>
            <key>fish03_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,2},{279,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,92}}</string>
                <key>sourceSize</key>
                <string>{279,92}</string>
            </dict>
            <key>fish03_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,2},{277,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,94}}</string>
                <key>sourceSize</key>
                <string>{277,94}</string>
            </dict>
            <key>fish03_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{285,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,90}}</string>
                <key>sourceSize</key>
                <string>{285,90}</string>
            </dict>
            <key>fish03_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,94},{283,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,92}}</string>
                <key>sourceSize</key>
                <string>{283,92}</string>
            </dict>
            <key>fish03_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{285,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,90}}</string>
                <key>sourceSize</key>
                <string>{285,90}</string>
            </dict>
            <key>fish03_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{285,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,86}}</string>
                <key>sourceSize</key>
                <string>{285,86}</string>
            </dict>
            <key>fish03_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{285,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,92}}</string>
                <key>sourceSize</key>
                <string>{285,92}</string>
            </dict>
            <key>fish03_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,94},{283,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,92}}</string>
                <key>sourceSize</key>
                <string>{283,92}</string>
            </dict>
            <key>fish03_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{285,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,94}}</string>
                <key>sourceSize</key>
                <string>{285,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fish.png</string>
            <key>size</key>
            <string>{2001,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f92a520d9ef6b36f77398a99c7d81108:324e5023c793ccb87ffeadfab384702e:14ac73c88c3019464dc0f7ed87dc5bc2$</string>
            <key>textureFileName</key>
            <string>fish.png</string>
        </dict>
    </dict>
</plist>
