<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aniCatch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,256},{192,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,45},{192,166}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>aniCatch2.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{252,222}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{252,222}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>aniCatch3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,248},{276,248}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{276,248}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>aniCatch4.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{282,244}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{282,244}}</string>
                <key>sourceSize</key>
                <string>{288,256}</string>
            </dict>
            <key>powerFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>starLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,424},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>starRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,424},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect.png</string>
            <key>size</key>
            <string>{832,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23c145c0a69fede1edeea4e549d0ef21:7a5f5b37ac519954e90b3a69382e7c91:3dfbfbc8204a359f1a81f2ee84fdb371$</string>
            <key>textureFileName</key>
            <string>effect.png</string>
        </dict>
    </dict>
</plist>
