<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>objects_bean_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,252},{181,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,232}}</string>
                <key>sourceSize</key>
                <string>{181,232}</string>
            </dict>
            <key>objects_bean_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,2},{161,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,215}}</string>
                <key>sourceSize</key>
                <string>{161,215}</string>
            </dict>
            <key>objects_bean_succ.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{182,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,230}}</string>
                <key>sourceSize</key>
                <string>{182,230}</string>
            </dict>
            <key>objects_checkGreen_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,233},{180,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,229}}</string>
                <key>sourceSize</key>
                <string>{180,229}</string>
            </dict>
            <key>objects_checkGreen_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,216},{184,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,211}}</string>
                <key>sourceSize</key>
                <string>{184,211}</string>
            </dict>
            <key>objects_checkGreen_succ.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,234},{204,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,229}}</string>
                <key>sourceSize</key>
                <string>{204,229}</string>
            </dict>
            <key>objects_checkWhite_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{179,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,229}}</string>
                <key>sourceSize</key>
                <string>{179,229}</string>
            </dict>
            <key>objects_checkWhite_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,2},{184,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,212}}</string>
                <key>sourceSize</key>
                <string>{184,212}</string>
            </dict>
            <key>objects_checkWhite_succ.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{204,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,229}}</string>
                <key>sourceSize</key>
                <string>{204,229}</string>
            </dict>
            <key>objects_monkeyBlack_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{174,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,251}}</string>
                <key>sourceSize</key>
                <string>{174,251}</string>
            </dict>
            <key>objects_monkeyBlack_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,2},{150,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,222}}</string>
                <key>sourceSize</key>
                <string>{150,222}</string>
            </dict>
            <key>objects_monkeyBlack_succ.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{183,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,248}}</string>
                <key>sourceSize</key>
                <string>{183,248}</string>
            </dict>
            <key>objects_monkeyRed_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,255},{173,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,251}}</string>
                <key>sourceSize</key>
                <string>{173,251}</string>
            </dict>
            <key>objects_monkeyRed_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,226},{149,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,222}}</string>
                <key>sourceSize</key>
                <string>{149,222}</string>
            </dict>
            <key>objects_monkeyRed_succ.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,253},{184,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,248}}</string>
                <key>sourceSize</key>
                <string>{184,248}</string>
            </dict>
            <key>objects_tofu_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{183,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,249}}</string>
                <key>sourceSize</key>
                <string>{183,249}</string>
            </dict>
            <key>objects_tofu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,233},{163,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,229}}</string>
                <key>sourceSize</key>
                <string>{163,229}</string>
            </dict>
            <key>objects_tofu_succ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,251}}</string>
                <key>sourceSize</key>
                <string>{184,251}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>objects.png</string>
            <key>size</key>
            <string>{1630,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cf035b79f020bf88967a9127487d65b:01bef5075dd70229af9b3f6ba66338a1:458de8e5649215d6f4316a271776e5d5$</string>
            <key>textureFileName</key>
            <string>objects.png</string>
        </dict>
    </dict>
</plist>
