<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_img_laser.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,157},{71,135}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{71,135}}</string>
                <key>sourceSize</key>
                <string>{71,181}</string>
            </dict>
            <key>entryScene_loading_bar0.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,2},{412,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,25}}</string>
                <key>sourceSize</key>
                <string>{412,25}</string>
            </dict>
            <key>entryScene_loading_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,29},{410,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{410,23}}</string>
                <key>sourceSize</key>
                <string>{412,25}</string>
            </dict>
            <key>entryScene_loading_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,157},{82,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,22}}</string>
                <key>sourceSize</key>
                <string>{82,22}</string>
            </dict>
            <key>gaem_img_tryAgain.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,157},{106,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,28}}</string>
                <key>sourceSize</key>
                <string>{106,28}</string>
            </dict>
            <key>game_btn_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,112},{110,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,91}}</string>
                <key>sourceSize</key>
                <string>{110,91}</string>
            </dict>
            <key>game_btn_continueGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,54},{232,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,101}}</string>
                <key>sourceSize</key>
                <string>{232,101}</string>
            </dict>
            <key>game_btn_newGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,54},{232,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,101}}</string>
                <key>sourceSize</key>
                <string>{232,101}</string>
            </dict>
            <key>game_btn_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,166},{59,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>game_btn_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,157},{67,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,94}}</string>
                <key>sourceSize</key>
                <string>{67,94}</string>
            </dict>
            <key>game_img_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,157},{88,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,70}}</string>
                <key>sourceSize</key>
                <string>{88,70}</string>
            </dict>
            <key>game_moveNode_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,187},{58,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,53}}</string>
                <key>sourceSize</key>
                <string>{58,53}</string>
            </dict>
            <key>game_ring0.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{223,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,223}}</string>
                <key>sourceSize</key>
                <string>{223,223}</string>
            </dict>
            <key>game_ring1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,2},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>game_ring2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>game_ring3.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,187},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>tips_frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,332}}</string>
                <key>sourceSize</key>
                <string>{239,332}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1303,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:122db5ffb5fc392df36ae5fd7e3518e1:35e3e7d6f03272d362a9717d57529dc1:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
