<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubble_img_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{79,77}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{79,77}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>bubble_img_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{79,77}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{79,77}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>bubble_img_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{79,77}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{79,77}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>bubble_img_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,81},{79,77}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{79,77}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>bubble_img_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,83},{79,77}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{79,77}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>bubble_img_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,160},{79,77}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{79,77}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>bubble_img_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{79,77}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{79,77}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>bubble_img_pad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{76,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{76,74}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>bubble_img_readyFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bubble.png</string>
            <key>size</key>
            <string>{252,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5ef8aea480300ab0a05899c1401a5ef:11496dff18373d9ee2ff2f1bcd6bbcee:d646583dbfa3e012f70b5a545d7f53fb$</string>
            <key>textureFileName</key>
            <string>bubble.png</string>
        </dict>
    </dict>
</plist>
