<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>entryScene_img_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{559,426}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{559,426}}</string>
                <key>sourceSize</key>
                <string>{565,430}</string>
            </dict>
            <key>entryScene_loading_bar0.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{412,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,25}}</string>
                <key>sourceSize</key>
                <string>{412,25}</string>
            </dict>
            <key>entryScene_loading_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,2},{410,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{410,23}}</string>
                <key>sourceSize</key>
                <string>{412,25}</string>
            </dict>
            <key>entryScene_loading_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,414},{82,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,22}}</string>
                <key>sourceSize</key>
                <string>{82,22}</string>
            </dict>
            <key>gaem_img_tryAgain.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,236},{106,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,28}}</string>
                <key>sourceSize</key>
                <string>{106,28}</string>
            </dict>
            <key>game_btn_continueGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,336},{232,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,101}}</string>
                <key>sourceSize</key>
                <string>{232,101}</string>
            </dict>
            <key>game_btn_newGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{232,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,101}}</string>
                <key>sourceSize</key>
                <string>{232,101}</string>
            </dict>
            <key>game_btn_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,344},{59,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>game_moveNode_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,236},{58,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,53}}</string>
                <key>sourceSize</key>
                <string>{58,53}</string>
            </dict>
            <key>tips_frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,2},{239,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,332}}</string>
                <key>sourceSize</key>
                <string>{239,332}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{959,439}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15e6befd0a1869df355c803379a6e394:05c5cced695e167686400c60d19670fa:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
