<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>entryScene_loading_bar0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,2},{412,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,25}}</string>
                <key>sourceSize</key>
                <string>{412,25}</string>
            </dict>
            <key>entryScene_loading_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{410,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{410,23}}</string>
                <key>sourceSize</key>
                <string>{412,25}</string>
            </dict>
            <key>entryScene_loading_word.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,79},{82,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,22}}</string>
                <key>sourceSize</key>
                <string>{82,22}</string>
            </dict>
            <key>gameOver_txt_send0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,79},{340,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,48}}</string>
                <key>sourceSize</key>
                <string>{340,48}</string>
            </dict>
            <key>gameOver_txt_send1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,29},{364,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,48}}</string>
                <key>sourceSize</key>
                <string>{364,48}</string>
            </dict>
            <key>gameOver_txt_send2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,351},{264,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,47}}</string>
                <key>sourceSize</key>
                <string>{264,47}</string>
            </dict>
            <key>gameOver_txt_send3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,178},{318,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,47}}</string>
                <key>sourceSize</key>
                <string>{318,47}</string>
            </dict>
            <key>gameOver_txt_send4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,129},{332,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,47}}</string>
                <key>sourceSize</key>
                <string>{332,47}</string>
            </dict>
            <key>game_btn_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,227},{188,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,106}}</string>
                <key>sourceSize</key>
                <string>{188,106}</string>
            </dict>
            <key>game_btn_left0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,37},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>game_btn_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,243},{202,199}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,199}}</string>
                <key>sourceSize</key>
                <string>{202,203}</string>
            </dict>
            <key>game_btn_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,381},{59,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{59,59}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>game_btn_right0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,209},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>game_btn_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,243},{203,199}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,199}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>game_btn_startGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{443,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,130}}</string>
                <key>sourceSize</key>
                <string>{443,130}</string>
            </dict>
            <key>game_img_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{621,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,286}}</string>
                <key>sourceSize</key>
                <string>{621,286}</string>
            </dict>
            <key>game_img_girl_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,290},{110,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,149}}</string>
                <key>sourceSize</key>
                <string>{110,149}</string>
            </dict>
            <key>game_img_girl_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,335},{110,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,152}</string>
            </dict>
            <key>game_img_girl_succ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,335},{110,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,156}}</string>
                <key>sourceSize</key>
                <string>{110,156}</string>
            </dict>
            <key>game_img_monkey0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,325},{80,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,113}}</string>
                <key>sourceSize</key>
                <string>{80,113}</string>
            </dict>
            <key>game_img_monkey1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,193},{95,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,112}}</string>
                <key>sourceSize</key>
                <string>{95,112}</string>
            </dict>
            <key>game_img_monkey2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,209},{95,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,114}}</string>
                <key>sourceSize</key>
                <string>{95,114}</string>
            </dict>
            <key>game_img_sun0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,307},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>game_img_sun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,227},{104,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,103}}</string>
                <key>sourceSize</key>
                <string>{104,103}</string>
            </dict>
            <key>game_power_bar0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,2},{191,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,17}}</string>
                <key>sourceSize</key>
                <string>{191,17}</string>
            </dict>
            <key>game_power_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,419},{188,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,14}}</string>
                <key>sourceSize</key>
                <string>{188,14}</string>
            </dict>
            <key>game_power_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,381},{51,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,38}}</string>
                <key>sourceSize</key>
                <string>{51,38}</string>
            </dict>
            <key>game_time_bar0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,400},{191,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,17}}</string>
                <key>sourceSize</key>
                <string>{191,17}</string>
            </dict>
            <key>game_time_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,21},{188,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,14}}</string>
                <key>sourceSize</key>
                <string>{188,14}</string>
            </dict>
            <key>game_time_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,402},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>game_txt_combo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,37},{154,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,1},{154,74}}</string>
                <key>sourceSize</key>
                <string>{236,76}</string>
            </dict>
            <key>game_txt_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,2},{359,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,125}}</string>
                <key>sourceSize</key>
                <string>{359,125}</string>
            </dict>
            <key>game_txt_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,240},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>game_txt_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,129},{318,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,109}}</string>
                <key>sourceSize</key>
                <string>{318,109}</string>
            </dict>
            <key>tips_frame_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{239,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,332}}</string>
                <key>sourceSize</key>
                <string>{239,332}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{2005,447}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7f0d4f4097b074788d05ae3b4acf54e:d25b41e721dfc630e1b6657b97477d51:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
